/* ==== Root ==== */
:root {
  --maincolor: rgba(80, 86, 102, 1);
  --backcolor: #f7f8f8;
}
/* ==== Header ==== */
.header {
  height: 85px;
  display: block;
  background-color: var(--backcolor);
  box-shadow: 2px 20px 30px #d1d1d1;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.navheader {
  width: 100%;
  display: block;
  height: 55%;
  padding: 3px 10px;
  margin-top: 10px;
}
.innav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.button {
  padding: 0 10px;
  text-align: center;
  font: 400 15px/20px 'Shentox', sans-serif;
}
.navheader ul {
    list-style-type: none;
  }
.midfloat ul li {
  height: 45px;
  padding: 10px 5px;
}
.rightfloat .ion-icon {
  font-size: 25px;
  opacity: 0.4;
}
.navheader li {
  display: inline;
}
.navheader a {
  text-decoration: none;
  color: var(--maincolor);
}
.midfloat2 {
  display: flex;
  flex-flow: row nowrap;
}
.navulul {
  position: absolute;
  top: 55px;
  height: 300px;
  left: 0;
  overflow: scroll;
  width: 100%;
  background-color: black;
  visibility: hidden;
}
/* Extra */
/* Scrollbar */
.navulul::-webkit-scrollbar {
  height: 20px;
  /* width: 7px; */
  border-radius: 3px;
}
/* Track */
.navulul::-webkit-scrollbar-track {
  background: #f1f1f1;
  height: 45px;
}
/* Handle */
.navulul::-webkit-scrollbar-thumb {
  background: #888;
  height: 15px;
  border-radius: 10px;
}
/* Handle on hover */
.navulul::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.navulul::before {
  position: fixed;
  content: "";
  height: 15px;
  width: 15px;
  left: 39.5%;
  top: 50px;
  background-color: black;
  transform: rotate(45deg);
}
/* News Button  */
.buttonsec {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 15px;
}
.buttonseco {
  height: 210px;
  padding: 0 20px;
  border-right: solid white 1px;
}
.buttonseco h4 {
  color: var(--backcolor);
}
.bottseco {
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
}
.bottsec1 {
  width: 160px;
  cursor: pointer;
}
.sectext2 {
    font: 400 11px/10px 'GraphikRegular', sans-serif;
    opacity: 0.8;
}
.bottsec1:hover .sectext2 {
  opacity: 1;
}
.chan1 {
  margin-right: 15px;
}
.bottsec-logo {
  width: 160px;
  height: 90px;
}
.bottsec-text {
  text-align: left;
  padding: 10px 0;
  color: white;
}
.sectext {
  font: 500 14px 'GraphikRegular', sans-serif;
}
/* Events Button  */
.eventbut {
  background-color: black;
  width: 200px;
  position: absolute;
  top: 55px;
  height: 70px;
  transform: translateX(-50px);
  display: grid;
  place-items: center;
  line-height: 5px;
  color: white;
  cursor: pointer;
  z-index: 1;
}
.eventbut:hover {
  background-color: var(--maincolor);
}
.eventbut-text {
  padding-top: 10px;
  font: 500 16px 'GraphikRegular', sans-serif;
}
.eventbut-text2 {
  margin-top: -15px;
  font: 500 12px 'GraphikRegular', sans-serif;
}
.eventbut::before {
  position: fixed;
  content: "";
  height: 15px;
  width: 15px;
  left: 43%;
  top: -6px;
  background-color: black;
  transform: rotate(45deg);
  z-index: -1;
}
/* More Button */
.morebut {
  background-color: black;
  width: 200px;
  position: absolute;
  top: 55px;
  min-height: 70px;
  transform: translateX(-50px);
  display: flex;
  flex-flow: column;
  cursor: pointer;
}
.morebut1 {
    display: grid;
    place-items: center;
    line-height: 35px;
    height: 70px;
    background-color: black;
    color: white;
}
.morebut1:hover {
  background-color: var(--maincolor);
}
.morebutz {
  visibility: hidden;
}
.mor {
  border-bottom: lightgray solid 1px;
}
.morebut::before {
  position: fixed;
  content: "";
  height: 15px;
  width: 15px;
  left: 43%;
  top: -6px;
  background-color: black;
  transform: rotate(45deg);
  z-index: -1;
}
.midfloat ul li:hover {
  background-color: white;
}
@keyframes myframes {
  0% {
    height: 2%;
    top: 45px;
  }

  100% {
    height: 100%;
    top: 55px;
  }
}
.midfloat ul li:hover > ul {
  visibility: visible;
  animation: myframes 0.1s ease-in 0s;
}
.midfloat ul li:hover .eventbut {
  animation: myframes 0.1s ease-in 0s;
}
.midfloat ul li:hover .morebut {
  animation: myframes 0.1s ease-in 0s;
}
.navheader2 {
  width: 100%;
  display: block;
  height: 45%;
  background-color: #f8d732;
  padding: 7px 20px;
}
.navheader2 a {
  text-decoration: none;
  color: black;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
}
.navheader3 {
  display: none;
}
/* ==== Top ==== */
.top {
  padding: 100px 30px 30px 30px;
  background-color: white;
  height: 1100px;
  box-sizing: border-box;
}
.top1-align {
  display: grid;
  place-items: center;
}
.top1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 250px;
  padding: 70px 30px;
  max-width: 1400px;
  margin: 5px;
}
.logo {
  margin-right: 250px;
  cursor: pointer;
}
.top1-text {
  font: 200 20px 'GraphikLight', sans-serif;
  margin-left: 250px;
  text-align: center;
  line-height: 70px;
}
.top2 {
  height: 600px;
  width: 100%;
  display: grid;
  place-items: center;
}
/* GRID CLASS STARTS */
.gd {
  height: 600px;
  width: 100%;
  display: grid;
}
.g1-5 {
  height: 600px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}
.posre {
  position: relative;
}
.posab {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 25px;
  color: white;
}
.g1 {
  background: linear-gradient(white, black), url(../img/hardfork.jfif);
  background-blend-mode: darken;
  grid-area: 1/1/4/3;
  cursor: pointer;
}
.g2 {
  grid-area: 4/1/6/3;
  background: linear-gradient(white, black), url(../img/plugged.jfif) no-repeat;
  background-blend-mode: darken;
}
.mobile {
  display: none;
}
.g2grid {
  display: grid;
  place-items: center;
  margin-top: 70px;
}
.g2text h5 {
  font: 800 22px/25px 'Avalon_Bold', sans-serif;
  letter-spacing: -1px;
  color: white;
  text-align: center;
}
.g2butt {
  margin-top: 15px;
  border: solid white 1px;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font: 400 14px/25px 'GraphikMedium', sans-serif;
}
.g2butt a {
  text-decoration: none;
  color: white;
}
.g3text p {
  font: 500 20px/25px 'GraphikMedium', sans-serif;
}
.g3 {
  grid-area: 1/3/3/4;
  background: linear-gradient(white, black), url(../img/plugged.jfif) no-repeat;
  background-blend-mode: darken;
  cursor: pointer;
}
.g4text p {
  font: 500 20px/25px 'GraphikMedium', sans-serif;
}
.g4 {
  grid-area: 1/4/3/5;
  background: linear-gradient(white, black), url(../img/zucked.jfif) no-repeat;
  background-blend-mode: darken;
  cursor: pointer;
}
.g5 {
  background: linear-gradient(white, black), url(../img/social-media.jfif);
  background-blend-mode: darken;
  grid-area: 3/3/6/5;
  cursor: pointer;
}
/* GRID CLASS ENDS */
.top3 {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adv {
  height: 80px;
  width: 50%;
  border: solid black 1px;
  cursor: pointer;
}
/* ==== Second Top ==== */
.sectop {
  display: grid;
  place-items: center;
  padding: 50px;
  background-color: var(--backcolor);
}
.sectop-grid {
  max-width: 1500px;
  height: 250px;
  display: block;
}
.sectop-grid > h2 {
  text-align: center;
  font: 500 28px/30px 'GraphikMedium', sans-serif;
  letter-spacing: -1px;
}
.st-art {
  margin-top: 30px;
  display: inline-block;
  height: 220px;
  width: 100%;
  padding: 1.5% 1%;
}
.st-art1 {
  padding: 1%;
  display: inline-block;
  width: 19.6%;
  height: 170px;
  font: 550 15px/25px 'GraphikRegular', sans-serif;
  color: black;
  letter-spacing: 0.5px;
}
.st-art1 p {
  cursor: pointer;
  text-underline-offset: 2px;
  text-decoration-line: underline;
  text-decoration-color: var(--backcolor);
  text-decoration-thickness: 0;
}
@keyframes decor {
  0% {
    text-decoration-thickness: 0;
  }

  50% {
    text-decoration-thickness: 1px;
  }

  100% {
    text-decoration-thickness: 2px;
  }
}
.st-art1 p:hover {
  text-decoration-color: rgb(247, 182, 231);
  text-decoration-thickness: 2px;
  animation: decor 0.1s linear 0s;
}
.st-art1 span {
  display: block;
  height: 150px;
  float: left;
  font-size: 38px;
  line-height: 1em;
  padding: 0 10px;
  font-weight: 500;
  color: #c09;
  font-family: Arial, Helvetica, sans-serif;
}
/* ==== Third Top ==== */
.trdtop {
  padding: 3% 5%;
  background-color: white;
  margin-top: 50px;
  display: grid;
  place-items: center;
}
.trdtop1 {
  max-width: 1300px;
}
.trdtop1 > h1 {
  color: black;
}
.ttop-grid {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas:
    "ttgd1 ttgd2 ttgd3 ttgd4"
    "ttgd5 ttgd6 ttgd7 ttgd8";
}
.ttop-grid1 {
  grid-area: ttgd1;
}
.ttop-grid2 {
  grid-area: ttgd2;
}
.ttop-grid3 {
  grid-area: ttgd3;
}
.ttop-grid4 {
  grid-area: ttgd4;
}
.ttop-grid5 {
  grid-area: ttgd5;
}
.ttop-grid6 {
  grid-area: ttgd6;
}
.ttop-grid7 {
  grid-area: ttgd7;
}
.ttop-grid8 {
  grid-area: ttgd8;
}
.ttop-img {
  margin-bottom: 10px;
  width: 23.7%;
  height: 200px;
}
.ttop-img img {
  width: 420%;
  height: 200px;
}
.ttop-text {
  font: 600 14px/20px 'Avalon_Regular', sans-serif;
  color: black;
}
.text-time {
  color: var(--maincolor);
  font: 500 14px/30px 'GraphikRegular', sans-serif;
}
.ttop-btt {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.newsbtt {
  width: 120px;
  height: 40px;
  border: solid 1px var(--maincolor);
  border-radius: 20px;
  text-align: center;
  padding: 7px;
}
.newsbtt a {
  text-decoration-line: none;
}
.newsbtt-text {
  font: 400 14px/20px 'Avalon_Bold', sans-serif;
}
.newsbtt:hover {
  border: solid 1px black;
}

.newsbtt:hover .newsbtt-icon > .ion-icon {
  transform: translateX(5px);
}

/* ==== Bottom Part ==== */
.bottom {
  padding: 10px 5px 5px 5px;
  margin-top: 50px;
  background-color: var(--backcolor);
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

/* ==== Bottom Part (1)==== */
.bottom1 {
  background-color: var(--backcolor);
  padding: 100px 40px;
  max-width: 1600px;
}

.bottom1 > h1 {
  color: black;
}

.bott {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 50px 0;
}

.one {
  background-image: url(../img/back-one.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.two {
  background-image: url(../img/back-two.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.three {
  background-image: url(../img/back-three.jfif);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.four {
  background-image: url(../img/back-four.jfif);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.five {
  background-image: url(../img/back-five.webp);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bott-box {
  width: 19%;
  height: 250px;
  margin-right: 15px;
  display: inline-block;
}

.bott-logo {
  height: 150px;
  padding: 40px 33%;
}

.bott-logo img {
  transform: scale(1.5);
}

.bott-text {
  height: 100px;
  color: white;
  font: 500 16px/24px 'GraphikRegular', sans-serif;
  text-align: center;
  padding: 30px 15px;
  box-sizing: border-box;
}

/* ==== Bottom Part (2)==== */
.bottom02 {
  width: 100%;
  background-color: black;
}

.bottom2 {
  width: 100%;
  height: 400px;
  background-image: url(../img/backbottom.webp);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  place-content: center;
  text-align: center;
  color: white;
}

.bott2 {
  line-height: 50px;
}

.bott2 p {
  font: 500 16px/50px 'GraphikRegular', sans-serif;
}

.bott2 p a {
  color: #0cc;
  text-decoration-line: none;
}

.bott2 p a:hover {
  color: white;
}

.bott2-inp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: white;
  width: 700px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0 10px;
}

.bott2-inp .ion-icon {
  text-decoration: none;
  font-size: 25px;
  color: var(--maincolor);
}

.bott2-inp1 {
  width: 80%;
  height: 48px;
  font-size: 16px;
  color: var(--maincolor);
  border: none;
}

input:focus {
  outline: none;
}

.bott2-inp p {
  color: var(--maincolor);
  cursor: pointer;
}

.soc-logo {
  margin-top: 30px;
}
.soc-logo a {
    text-decoration: none;
}
.soc-logo .ion-icon {
  font-size: 30px;
  color: rgb(197, 190, 192);
  margin: -5px;
}

.soc-logo .ion-icon:hover {
  color: white;
}

/* ==== Bottom Part (3)==== */
.bottom3 {
  background-color: var(--backcolor);
  padding: 70px 50px;
  max-width: 1400px;
}

.bottom3-1 > h1 {
  color: black;
}

.bott3 {
  height: 700px;
  border: solid black 2px;
  margin-top: 50px;
}

/* ==== Bottom Part (4)==== */
.bottom4 {
  background-color: white;
  padding: 100px 50px;

  /* display: none; */
  box-sizing: border-box;
}

.bott4 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1300px;
  grid-gap: 40px;
}

.text > h1 {
  color: black;
}

.text p {
  margin-top: 15px;
  font: 500 18px/30px 'GraphikLight', sans-serif;
}

.bott4-1 {
  width: 50%;
}

.bott4-but {
  background-color: #0cc;
  width: 150px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  margin-top: 30px;
}

.bott4-but a {
  text-decoration: none;
  color: white;
  font: 500 14px/30px 'GraphikLight', sans-serif;
}

.bott4-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-row-gap: 30px;
}

.bott4-grid img {
  width: 100px;
  height: 100px;
}

.media {
  display: flex;
  flex-direction: row;
}

.media img {
  float: left;
}

.media p {
  float: right;
  padding: 40px 20px;
  font: 400 16px/30px 'Avalon_Bold', sans-serif;
  color: black;
}

.bott4-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin-top: 80px;
}

.bott4-logo img {
  height: 90px;
  opacity: 0.6;

  /* transition: opacity 1s ease-in-out 0s; */
}

.bott4-logo img:hover {
  opacity: 1;
}

/* ==== FOOTER ==== */
.footer {
  width: 100%;
  background-color: black;
}

.footermax {
  border-bottom: white 1px solid;
  width: 100%;
}

.foot1 {
  width: 100%;
  height: 250px;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 50px;
}

.footflex {
  width: 50%;
}

.foot-text {
  margin-left: 10px;
  margin-bottom: 50px;
  color: white;
  font: 500 16px/30px 'GraphikRegular', sans-serif;
}

.footflex2 {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
}

.footflex2-1 {
  width: 50%;
}

.footflex2-1 > h3 {
  color: white;
  font: 500 18px/30px 'Avalon_Bold', sans-serif;
}

.footbut a {
  text-decoration-line: none;
  color: #0cc;
  font: 500 14px/25px 'GraphikLight', sans-serif;
}

.footbut a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: #0cc;
}

.footbut ul {
  list-style-type: none;
  margin-left: -10px;
}

.foot2 {
  width: 100%;
  height: 150px;
  display: grid;
  place-items: center;
  text-align: center;
  font: 500 14px/25px 'GraphikLight', sans-serif;
  color: rgb(197, 190, 192);
}

.foot2 a {
  text-decoration-line: none;
  color: white;
}

.foot2 a:hover {
  color: #0cc;
}

@media screen and (min-width: 1400px) {
  .footermax {
    padding: 0 15%;
  }

  .navulul::before {
    left: 42%;
  }

  .gd {
    max-width: 1600px;
  }
}
