@media screen and (max-width:1024px){
    /* Nav Header */
    .header{
        height: 40px;
        display: block;
        background-color: white;
        box-shadow: 2px 20px 30px #d1d1d1;
        position: fixed;
        width: 100%;
        z-index: 2;
    }
    .navheader{
        display: none;
    }
    .navheader2{
        display: none;
    }
    .navheader3{
        display: block;
        height: 40px;
        width: 100%;
        background-color: white;
    }
    .nav3leftfloat{
        float: left;
        font-size: 25px;
        margin-left: 20px;
        color: var(--maincolor);
    }
    .nav3leftfloat li{
        list-style-type: none;
    }
    .threeleftfloat{
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    .buttonnavthree{
        padding: 5px;
    }
    label{
        display: inline-block;
        cursor: pointer;
    }
    #toggle{
        display: none;
    }
    /*==== Top ====*/
    .top{
        padding: 20px 30px 30px 30px;
        height: 1200px;
    }
    .top1{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-flow: column nowrap;
        height: 250px;
        padding-bottom: 30px;
    }
    .logo{
        transform: scale(2);
        margin: 0 0 20px 0;
    }
    .top1-text{
        font: 400 14px 'GraphikLight', sans-serif;
        text-align: center;
        margin: 10px 20px;
    }
    .top2{
        height: 800px;
    }
    .gd{
        height: 800px;
        width: 100%;
        display: grid;
    }
    .gd h4{
        font: 400 12px/20px 'Shentox', sans-serif;
    }
    .gd h1{
        font: 700 20px/20px 'Avalon_Bold', sans-serif;
        letter-spacing: -1px;
    }
    .g1-5{
        height: 800px;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        grid-template-areas:
            "one1 one1"
            "one1 one1"
            "three3 two2"
            "four4 five5";
        box-sizing: border-box;
    }
    .g1{
        grid-area: one1;
    }
    .g2{
        grid-area: two2;
    }
    .g3{
        grid-area: three3;
    }
    .g4{
        grid-area: four4;
    }
    .g5{
        grid-area: five5;
    }
    .g2grid{
        margin-top: 40px;
    }
    .g3text p{
        font: 500 20px/25px 'GraphikMedium', sans-serif;
    }
    .g4text p{
        font: 500 20px/25px 'GraphikMedium', sans-serif;
    }
    /*==== Second Top ====*/
    .sectop-grid{
        width: 100%;
        min-height: 400px;
        display: block;
    }
    .st-art{
        margin-top: 30px;
        display: flex;
        flex-flow: column nowrap;
        min-height: 350px;
        width: 100%;
        padding: 0px;
    }
    .st-art1{
        padding: -10px;
        display: inline-block;
        width: 100%;
        height: 70px;
    }
    /*==== Third Top ====*/
    .trdtop1{
        width: 100%;
    }
    .ttop-grid{
        margin: 30px 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 20px;
        grid-template-areas:
            "ttgd1 ttgd2"
            "ttgd3 ttgd4"
            "ttgd5 ttgd6"
            "ttgd7 ttgd8";
    }
    .ttop-img{
        height: 300px;
    }
    .ttop-img img{
        height: 300px;
    }
    /*==== Bottom Part (1)====*/
    .bottom1{
        width: 100%;
    }
    .bott-box{
        width: 24%;
        margin-right: 15px;
        display: inline-block;
    }
    .five{
        display: none;
    }
    /*Bottom 4 Logos  */
    .bott4-grid img{
        width: 100px;
        height: 100px;
    }
    .media{
        display: flex;
        flex-direction: column;
    }
    .media p{
        padding: 10px 30px;
    }
    .bott4-logos{
        display: flex;
        flex-flow: row wrap;
    }
    .bott4-logo{
        width: 33%;
        padding: 30px;
    }
    .bott4-logo img{
        transform: scale(2);
    }

    /*==== FOOTER ====*/
    .foot1{
        width: 100%;
        height: 500px;
        display: flex;
        flex-flow: row wrap;
    }
    .footflex{
        width: 100%;
    }
    .footflex2{
        width: 100%;
    }
}